<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
	      <mat-card-header>
	        <mat-card-title>
	          <h3>{{dish.name | uppercase}}</h3>
	        </mat-card-title>
	      </mat-card-header>
	      <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
	      <mat-card-content>
	        <p>{{dish.description}}
	        </p>
	      </mat-card-content>
          <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
          </mat-card-actions>
	</mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <h3>Comments</h3>
    	<mat-list>
     		<mat-list-item *ngFor="let comment of dish.comments">
     			<p>
     				<span mat-line>{{comment.comment}}</span>
     				<span mat-line>{{comment.rating}} Stars</span>
     				<span mat-line>--{{comment.author}} {{comment.date | date}}</span>
     			</p>
     		</mat-list-item>
        </mat-list>   
          <div fxFlex="40" [hidden]="commentForm.invalid">
            <mat-list>
                <mat-list-item>
                    <p>
                        <span mat-line>{{ commentForm.value.comment}}</span>
                        <span mat-line>{{ commentForm.value.rating}} stars</span>
                        <span mat-line>{{ commentForm.value.author}}</span>
                    </p>
                </mat-list-item>
            </mat-list>
        </div>
  </div>

  
  <div [hidden]="dish || errMess">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
  <br/>
  <div fxFlex class="form-size">
    <form  [formGroup]="commentForm" novalidate (ngSubmit)="onSubmit()">
        <mat-input-container class="full-width">
            <input matInput id="author" formControlName="author" placeholder="Name" type="text" required>
            <mat-hint>
                <span [hidden]="!(formErrors.author)">
                  {{formErrors.author}}</span>
            </mat-hint>
        </mat-input-container>
        <mat-slider id="rating" formControlName="rating"
        max="5"
        min="1"
        step="1"
        thumbLabel
        tickInterval="1"
        [(ngModel)]="value"
        value = "5"></mat-slider>
        <p>
            <mat-input-container class="full-width">
                <textarea matInput id="comment" formControlName="comment" placeholder="Your Comment" type="text" rows="4" required></textarea>
                <mat-hint>
                <span [hidden]="!(formErrors.comment)">
                  {{formErrors.comment}}</span>
            </mat-hint>
            </mat-input-container>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
    </form>
  </div>
</div>






